/*
 * written by z5087077@cse.unsw.edu.au October 2017
 * Some bootstrap used as well : ? 
 */
 
 /* UNSW colour: #ffe738 (close enough) */

.unswtalk_heading {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: blue;
    /*display: inline-block*/
    text-decoration: underline;
    text-shadow: 1px 5px teal;
}

.li-tabs {
	font-size: medium;
}

/* profile pictures in friends list */
.profile {
	height: 40px;
	width: 40px;
	border:thick solid;
	border-color: #3963ce;
	border-width: 1px;
}

/*for profile image in base.html */
.base {
	padding: 0px;
	margin: 0px;
	border:thick solid;
	border-color: #56ff6a;
	border-width: 1px;
}

.login {
	background-color: #000;  /*#ffe725*/
}

.name {
	margin: 0px;
	padding: 5px;
	padding-top: 3px;
	padding-bottom: 3px;

}

.posts {
	height: 50px;
	width: 50px;
	border:thick solid #ffe738;
	border-color: #000;
	border-width: 1px;
}

.btn-block > a,
.btn-block > a:hover,
.btn-block > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
	color: white;
	background-color: black;  
} 

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus{
	color: white;
	background-color: black;
}

.makepost > li >  a,
.makepost > li > a:hover,
.makepost > li > a:focus,
.makepost {
	color: white;
	background-color: black;
}

.li-tabs > li > a:hover,
.nav>li>a:focus,
.nav>li>a:hover 
{
	color: white;
	background-color: black;
}

.label-default {
	color: white;
	background-color: black;
	font-size: small;
}

.logo {
	font-size: x-large;
}

.label-info {
	color: black;
	background-color: #ffe738;
}

.jumbotron, .badge {
	color: white;
	background-color: black;
}

.img-thumbnail {
	width: 150px;
	height: 150px;
	object-fit: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

a, a:hover {
	color: inherit;
} 


.search:hover {
	color: white;
	background-color: black;
}

/*Got this from https://stackoverflow.com/a/35063374*/
.img-circle {
	object-fit: cover;
}

/* Got this from https://stackoverflow.com/a/21352749 */
.divider-vertical {
	height: 50px;
	margin: 0 9px;
	border-left: 1px solid #F2F2F2;
	border-right:1px solid #FFF;
}

.search_box {
	width: 16em;
	height: 2.25em;
}

.navbar-static-top {
	background-color: #ffe738;
}

.unswtalk_button {
    background-color: #ffe738; /*#ffff00 -- #FEDBCA*/
    border:thick solid #000000;
    border-radius: 0.42em;
    color: black;
}


/* Got this from https://cpratt.co/twitter-bootstrap-callout-css-styles/ */

.bs-callout {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 50px;
    margin: 10px 0;
    border: 1px solid #eee; /* original: eee */
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4, h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #000; /* og 777 */
}
.bs-callout-default h4 {
    color: #000; /* og 777 */
}

.post {
	border-width: 3px;
	border-color: #000; /* og 777 */
	padding-bottom:20px;
	/*background-color: #ffe738;*/
}

.comment {
	border-left-color: #777;
	padding-bottom:15px;
	padding-left: 20px;
	margin-bottom:20px;
	/*background-color:#ffed6d;*/
}

.reply {
	border-left-color: #AAA; 
	padding-top: 15px;
	margin-top:20px;
	margin-bottom:10px;
	margin-left:75px;
	padding-top:20px;
	padding-left: 20px;
	padding-bottom: 20px;
	/*background-color:#fff6bc;*/
}

/* Got this from https://codepen.io/ibrahimjabbari/pen/ozinB */
.hr-style {
	border-top: 1px solid #8c8b8b;
}
/* Got this from https://stackoverflow.com/a/32881197 */
.loginbox {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  color: black;
  background-color: #ffe725;
}

/* for the results page */
.well {
	/*margin: 5px;*/
	padding: 5px;
	padding-top: 0px;
	padding-left: 15px;
	color: white;
	background-color: black;
}

.testdiv {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.rounded {
  border-radius: 10px;
  background: #000; // without a background or border applied you won't be able to see if its rounded
}

