/*
 * written by z5087077@cse.unsw.edu.au October 2017
 * Some bootstrap used as well : ? 
 */

.unswtalk_heading {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: blue;
    /*display: inline-block*/
    text-decoration: underline;
    text-shadow: 1px 5px teal;
}

body {
	background-color: yellow;
}

.unswtalk_heading_corner {
	float:right;
	text-align:right;
	border: 1px solid black;
}

.unswtalk_user_details {
    background-color: #ABCDEF;
    color: #204142;
    white-space: pre;
    border:thin solid #204142;
    border-radius: 1em;
    padding-left: 0.42em;
}

.unswtalk_button {
    background-color: #ffff00; /*#ffff00 -- #FEDBCA*/
    border:thin solid #904142;
    border-radius: 0.42em;
    color: #904142;
}
