/*
 * written by z5087077@cse.unsw.edu.au October 2017
 * Some bootstrap used as well : ? 
 */
 
 /* UNSW colour: #ffe738 (close enough) */

.unswtalk_heading {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: blue;
    /*display: inline-block*/
    text-decoration: underline;
    text-shadow: 1px 5px teal;
}

.li-tabs {
	font-size: medium;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
	color: white;
	background-color: black;  
} 


.li-tabs > li > a:hover,
.nav>li>a:focus,
.nav>li>a:hover 
{
	color: white;
	background-color: black;
}

.label-default {
	color: white;
	background-color: black;
	font-size: small;
}

.logo {
	font-size: x-large;
}

.label-info {
	color: black;
	background-color: #ffe738;
}

.jumbotron, .badge {
	color: white;
	background-color: black;
}

.img-thumbnail {
	width: 150px;
	height: 150px;
	object-fit: cover;
	background-position: center center;
	background-repeat: no-repeat;
}


/*Got this from https://stackoverflow.com/a/35063374*/
.img-circle {
	object-fit: cover;
}

/* Got this from https://stackoverflow.com/a/21352749 */
.divider-vertical {
	height: 50px;
	margin: 0 9px;
	border-left: 1px solid #F2F2F2;
	border-right:1px solid #FFF;
}

.search_box {
	width: 16em;
	height: 2.25em;
}

.navbar-static-top {
	background-color: #ffe738;
}

.unswtalk_button {
    background-color: #ffe738; /*#ffff00 -- #FEDBCA*/
    border:thick solid #000000;
    border-radius: 0.42em;
    color: black;
}
