<!DOCTYPE html>
<html lang="en">

<head>
{% set me = whoAmI() %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="{{url_for('static', filename='UNSWtalk.css')}}" rel="stylesheet">
<title>UNSWTalk{% block title %}{% endblock %}</title>
</head>
<body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
          	<div class="logo">
          		<kbd><strong>UNSW</strong><sup> </sup><small>Talk</small></kbd>
          	</div>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          
            <li class="divider-vertical hidden-sm hidden-xs"></li>
            
            <li>
              <a href="{{ url_for('settings') }}">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <strong>Settings</strong>
              </a>
            </li>
            
            <li>
              <form class="navbar-form" method="POST" action="{{ url_for('results') }}">
                <div class="form-group">
            	  <input type="text" class="search_box" maxlength="40" placeholder="Search for a user ...">
                </div>
            	  <button class="btn btn-sm">
            	  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            	  <strong> Search</strong>
            	</button>
              </form>
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
          
          	<li>
              <a href="{{ url_for('profile', zid=me) }}">
                	{% set me = whoAmI() %}
                	{% set my_details = getInfo(me) %}
                	{% set myImage = my_details['image'] %}
                	<badge><img src= "{{ url_for('static', filename = myImage) }}" class="img-circle base" alt="profile pic" height="20" width="20"></badge>
                	 <span class="label label-default name">{{ my_details['full_name'] }}</span>
              </a>
            </li>
            
          	<li class="divider-vertical hidden-sm hidden-xs"></li>
          	
            <li>
              <a href="{{ url_for('feed') }}">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <strong>Home</strong>
              </a>
            </li>
            
            <li><a href="{{ url_for('logout') }}">
              <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
              <strong>Logout</strong>
            </a></li>  
          </ul>
        </div>
      </div>
    </nav>
{% block body_contents %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
