{% extends "base.html" %}

{%block title %}: Your Profile {% endblock %}

{% block body_contents %}

<div class="container">
    <div class="row">
    	<div class="col-md-6">
			<ul class="nav nav-tabs">
				<li class="active li-tabs"><a href="#about" data-toggle="tab">About</a></li>
				<li class="li-tabs"><a href="#friends" data-toggle="tab">Friends</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="tab-content">
	<div id="about" class="tab-pane in active"> <!-- PROFILE INFO -->
		<div class="container">
    		<div class="jumbotron">
        		<div class="row">
            		<div class="col-md-8 col-sm-16">
        				<h1>{{student_details["full_name"]}} <small><kbd>{{student_details["zid"]}}</kbd></small></h1>
        
       				 	<h2>Date Of Birth:
       			     		{% if student_details["birthday"] == "-" %}
       			     		    <abbr title="The user has chosen not so supply data for this field"><strong>-</strong></abbr>
       			     		{% else %}
       			      	   		{{student_details["birthday"]}}
       		    	 		{% endif %}
       			 		</h2>
        
       			 		<h2>Residing in: 
       			     		{% if student_details["home_suburb"] == "-" %}
       			     		    <abbr title="The user has chosen not so supply data for this field"><strong>-</strong></abbr>
       			     		{% else %}
       			     		    {{student_details["home_suburb"]}}
       			     		{% endif %}
       			 		</h2>
        
        				<h2>Studying:
            				{% if student_details["program"] == "-" %}
        		    		    <abbr title="The user has chosen not so supply data for this field"><strong>-</strong></abbr>
            				{% else %}
		            	    	{{student_details["program"]}}
        		    		{% endif %}
       			 		</h2>
        			</div>
        			
        			<div class="col-md-4 col-sm-8">
        				<img src= "{{ image }}" class="img-rounded" alt="profile pic" height="300" width="300">
        			</div>
        		</div> <!-- /row -->
        		<div class="row">
        			<blockquote>
          				<a class="btn btn-lg btn-default" href="{{ url_for('start') }}" role="button">Next</a>
        			</blockquote>
        		</div> <!-- /row -->
        		
        	</div> <!-- /jumbo -->
		</div> <!-- /container -->
	</div><!-- /about -->
	
	<div id="friends" class="tab-pane">  <!-- FRIENDS LIST -->
		<div class="container">
			<div class="jumbotron">
				{% for friend in student_details["friends"] %}
					{% set friend_details = getInfo(friend) %}
				
					<!-- change links later-->
					<p>
						<a href="#"><span class="label label-info">
							<img src= "{{ friend_details['image'] }}" class="img-circle" alt="profile pic" height="40" width="40">
					     	{{ friend_details["full_name"] }} <span class="badge">{{ friend }}</span>
					    </span></a>
				    </p>
				
				{% endfor %}
			</div> <!-- /jumbo -->
		</div>
	</div> <!-- /friends -->
	
</div> <!-- /tab-content -->

<form method="POST" action="">
    <input type="hidden" name="n" value="7">
    <input type="hidden" name="username" value="{{student_details['zid']}}">
    <input type="hidden" name="fullname" value="{{student_details['full_name']}}>
    <input type="hidden" name="password" value="{{student_details['password']}}">
    <input type="submit" value="Next student" class="unswtalk_button">
</form>

<br\>
<h3> Posts </h3>
<hr>



{% endblock %}


